<div class="mt-10">
  <% model.errors.each do |error| %>
    <div class="alert-destructive">
      <%= lucide_icon "circle-alert", class: "w-4 h-4 inline" %>

      <h2><%= I18n.t("shared.form_messages.error_title") %></h2>

      <section><%= error.full_message %></section>
    </div>
  <% end %>
</div>
